.scroll {
    height:calc(100vh - 271px);
    padding: 0 10px;
}

main .box {
    
    margin-bottom:0;
}

footer .text {
    color: #777;
    margin: 0;
}

main .box-admin {
    box-shadow: none !important;
    border-radius: 2px !important;
    border-color: #eee;
    border-top: 2px solid #00897B;
    height: auto !important;
    margin: 15px 0;
    padding: 0;
}

.box-admin .box-admin__top {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background-color: #F7F9FA;
    padding:10px;
}
    .box-admin .box-admin__top .box-admin__top__icon {
        font-size: 50px;
        color: #7460EE;
        float: right;
    }

    .box-admin .box-admin__top .box-admin__top__title {
        font-size: 14px;
        color: #444;
        font-weight:600;
    }

    .box-admin .box-admin__top .box-admin__top__description {
        font-size: 11px;
        color: #666;
        font-weight: 500;
    }

.box-admin .box-admin__menu {
    margin:0;
    padding:10px;
    list-style-type:none;
}

    .box-admin .box-admin__menu .box-admin__menu__item {
        padding: 0px;
        border-bottom: 1px dotted #ccc;
    }

        .box-admin .box-admin__menu .box-admin__menu__item a {
            display: block;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
            color: #333;
            
            transition:all 0.3s;
            font-weight:500;
            font-size:12px;
            text-align:center;
        }


            .box-admin .box-admin__menu .box-admin__menu__item a:hover {
                background-color: #00897B;
                color: #fff;
            }


            .box-admin .box-admin__menu .box-admin__menu__item:last-child {
               border-bottom:none;
            }

@media (max-width:767px) {
    .scroll {
        height: auto;
    }

    main .box {
        margin-bottom: 10px;
    }
}

.margin-top-4 {
    margin-top:4px !important;
}

.margin-right-60 {
    margin-right: 60px !important;
}

@media (min-width: 768px) {
    .navbar-right {
        float: left !important;
         margin-left: -10px; 
    }
}

.breadcrumb {
    background-color: transparent !important;
    margin: 0 15px 10px;
    padding: 8px 7px;
}

    .breadcrumb .breadcrumb-item a {
        color: #00897B;
        font-weight: 500;
    }

    .breadcrumb .breadcrumb-item.active a {
        color: #666;
        font-weight:500;
    }
.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y:auto !important;
}

input[type=file] {
    display: block;
    margin: 15px 0;
}

.height-auto {
    height:auto !important;
}