.scroll {
    height:calc(100vh - 271px);
    padding: 0 10px;
}

main .box {
    
    margin-bottom:0;
}

footer .text {
    color: #777;
    margin: 0;
}

main .box-admin {
    box-shadow: none !important;
    border-radius: 2px !important;
    border-color: #eee;
    border-top: 2px solid #00897B;
    height: auto !important;
    margin: 15px 0;
    padding: 0;
}

.box-admin .box-admin__top {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background-color: #F7F9FA;
    padding:10px;
}
    .box-admin .box-admin__top .box-admin__top__icon {
        font-size: 50px;
        color: #7460EE;
        float: right;
    }

    .box-admin .box-admin__top .box-admin__top__title {
        font-size: 14px;
        color: #444;
        font-weight:600;
    }

    .box-admin .box-admin__top .box-admin__top__description {
        font-size: 11px;
        color: #666;
        font-weight: 500;
    }

.box-admin .box-admin__menu {
    margin:0;
    padding:10px;
    list-style-type:none;
}

    .box-admin .box-admin__menu .box-admin__menu__item {
        padding: 0px;
        border-bottom: 1px dotted #ccc;
    }

        .box-admin .box-admin__menu .box-admin__menu__item a {
            display: block;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
            color: #333;
            
            transition:all 0.3s;
            font-weight:500;
            font-size:12px;
            text-align:center;
        }


            .box-admin .box-admin__menu .box-admin__menu__item a:hover {
                background-color: #00897B;
                color: #fff;
            }


            .box-admin .box-admin__menu .box-admin__menu__item:last-child {
               border-bottom:none;
            }

@media (max-width:767px) {
    .scroll {
        height: auto;
    }

    main .box {
        margin-bottom: 10px;
    }
}

.margin-top-4 {
    margin-top:4px !important;
}

.margin-right-60 {
    margin-right: 60px !important;
}

@media (min-width: 768px) {
    .navbar-right {
        float: left !important;
         margin-left: -10px; 
    }
}

.breadcrumb {
    background-color: transparent !important;
    margin: 0 15px 10px;
    padding: 8px 7px;
}

    .breadcrumb .breadcrumb-item a {
        color: #00897B;
        font-weight: 500;
    }

    .breadcrumb .breadcrumb-item.active a {
        color: #666;
        font-weight:500;
    }
.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y:auto !important;
}

input[type=file] {
    display: block;
    margin: 15px 0;
}

.height-auto {
    height:auto !important;
}

.subfooter {
    background-color: #222;
    padding:10px 15px;
    overflow:hidden;
}

.subfooter__title {
    color:#00897B;
    font-size:16px;
    font-weight:500;
    text-align:right;
    padding-bottom:13px;
    border-bottom:1px dotted #eee;
}

.subfooter__menu {
   margin:0;
   padding:0;
   list-style-type:none;
}


.subfooter__menu__item {
    padding:10px 0;
   
}


.subfooter__menu__item  a {
    color:#fff;
    transition:all 0.3s;
   font-weight:400;
   font-size:13px;
}

    .subfooter__menu__item a:hover {
        color:#00897B;
        margin-right:10px;
    }
.subfooter__desc {
    color:#fff;
    text-align:right;
    font-weight:400;
    font-size:13px;
    padding:10px 0;
}

h1.titr {
    font-size:16px;
    text-align:right;
    margin:0;
    padding:0;
    margin-right:6px;
    font-weight:500;
    padding-bottom:12px;
    border-bottom:1px solid #ccc;
    position:relative;
}

    h1.titr:before {
        content: '';
        position: absolute;
        top: 28px;
        right: -2px;
        width: 137px;
        height: 3px;
        background-color: #7460EE;
    }
.about-desc {

    text-align:justify;
    line-height:25px;
    padding:10px;
}
.margin-top-10{
    margin-top:10px !important;
}

.help {
    padding:0;
    margin:0;
    width:100%;
    list-style-type:none;
}

.help__item {
    padding:10px;
    position:relative;
    padding-right:25px;
}


    .help__item:before {
        content: '';
        position: absolute;
        top: 18px;
        right: 6px;
        width: 8px;
        height: 8px;
        background-color: #7460EE;
        border-radius: 10px;
    }
.badge {
    font-size: 15px;
    font-weight: bold;
    background-color: #00897B;
    transition: all 0.3s;
}

.box-admin .box-admin__menu .box-admin__menu__item a:hover .badge {
    color: #00897B;
    background-color: #fff;
}

.width-120 {
    width:120px !important;
}

/*radio button*/

.form-radio {
    display: inline-block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .form-radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.form-radio__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-radio:hover input ~ .form-radio__checkmark {
    background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.form-radio input:checked ~ .form-radio__checkmark {
    background-color: #00897B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form-radio__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-radio input:checked ~ .form-radio__checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-radio .form-radio__checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.sweet-alert {
    width:400px !important;
}

@media (max-width:767px) {
    .sweet-alert {
        width: 95% !important;
    }
}

.sa-button-container > .btn {
    width:120px;
}

.sa-confirm-button-container > .btn {
    width: 120px;
}

.sa-button-container {
    direction:ltr;
}

.sweet-alert .btn-danger:focus {
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
 .product__img {
    padding-top: 55%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 0 !important;
    transition:all 0.7s;
}
 .product__img:hover {
        -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
        filter: grayscale(20%);
    }
.color-theme {
    color: #00897B !important;
}

.weight-600 {
    font-weight:600;
}

.border-botoom {
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

.margin-bottom-15 {
    margin-bottom:15px;
}

.padding-20 {
    padding:20px 10px !important;
}

@media (max-width:991px) {
    .margin-bottom-15-res {
        margin-bottom:15px !important;
    }
}

.title {
    padding-bottom:10px;
    text-align:right;
    font-size:18px;
    position:relative;
    padding-right:5px;
}

    .title:before {
        content: '';
        position: absolute;
        top: 34px;
        right: 0px;
        width: 100px;
        height: 3px;
        background: #00897B;
    }

.blog-details-wrap {
    box-shadow:0px 0px 10px #ccc;
    background-color:#fff;
}

.btn-success {
    background:#00897B !important;
}


    .btn-success:hover {
        box-shadow: 0 14px 26px -12px rgba(116,96,238,0.42), 0 4px 23px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(116,96,238,0.2);
        border:1px solid #00897B

    }
.color-theme-1 {
    color:#7460EE !important;
}

@media (max-width:767px) {
    .margin-top-20-res {
        margin-top: 20px;
    }
    .padding-0-res {
        padding:0 !important;
    }
}


