.scroll {
    height:calc(100vh - 271px);
    padding: 0 10px;
}

main .box {
    overflow:auto;
    margin-bottom:0;
}

footer .text {
    color: #777;
    margin: 0;
}

@media (max-width:767px) {
    .scroll {
        height: auto;
    }

    main .box {
        margin-bottom: 10px;
    }
}