
@{
    ViewData["Title"] = "ورود یا ثبت نام در اکانت پی ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
    <div class="box form-matrial padding-10">
        <div class="scroll">
            <div class="description">
                <img src="~/docs/images/user-login.png" class="img-responsive login-img" />
            </div>

            <div class="description text-center">
                برای خرید و پرداخت نهایی باید در سایت ثبت نام کرده باشید 
            </div>

            <div class="description text-center">
                اگر ثبت نام نکرده اید از طریق لینک
                <a href="/account/register" class="link">ثبت نام</a> می توانید ثبت نام کنید
            </div>

            <div class="description text-center">
               اگر در سایت ثبت نام نکرده اید از طریق لینک 
                <a href="/account/login" class="link">ورود</a> وارد شوید  
            </div>
        </div>
    </div>
</div>


