
@{
    ViewData["Title"] = "ورود یا ثبت نام در اکانت پی ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AccountGameId = ViewBag.AccountGameId;
}

<div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="blog-details-wrap mb-20 box" style="overflow:hidden;">
        <div class="col-md-6" style="margin:20px 0">
            <div class="text-center" style="margin-bottom: 17px;">
                <i style="font-size:50px;" class="fa fa-lock color-theme" aria-hidden="true"></i>
            </div>
            <h4 class="text-center">عضو  اکانت پی هستید ؟؟</h4>
            <p class="text-center">برای تکمیل فرآیند خرید خود وارد شوید</p>
            <div class="text-center">
                <button onclick="window.location.href='/Account/Login?ReturnUrl=/AccountGame/Detail/@(AccountGameId)'" class="btn btn-success">ورود به اکانت پی</button>
            </div>
        </div>
        <div class="col-md-6" style="margin:20px 0">
            <div class="text-center" style="margin-bottom: 17px;">
                <i style="font-size:50px;" class="fa fa-user color-theme" aria-hidden="true"></i>
            </div>
            <h4 class="text-center">تازه وارد هستید ؟؟</h4>
            <p class="text-center">برای تکمیل فرآیند خرید خود ثبت نام کنید</p>
            <div class="text-center">
                <button onclick="window.location.href='window.location.href='/Account/Register?ReturnUrl=/AccountGame/Detail/@(AccountGameId)'" class="btn btn-success"> ثبت نام در اکانت پی</button>
            </div>
        </div>

    </div>
</div>


