
    <div class="box ">
        <div class="profile height-auto">
            <img src="~/docs/images/profile-bg.jpg" class="profile__img img-responsive" />
            <img src="~/docs/images/user.jpg" class="profile__user img-responsive" />
            <h4 class="profile__name">مهدی حسنی </h4>
            <ul class="profile__menu">

                <li class="profile__menu__item">
                    <a data-id="list-account" asp-controller="User" asp-action="AccountList">لیست اکانت های من </a>
                </li>

                <li class="profile__menu__item">
                    <a data-id="add-account" asp-controller="User" asp-action="AddAccount">اضافه نمودن اکانت جدید </a>
                </li>

                <li class="profile__menu__item">
                    <a href="#">پروفایل من </a>
                </li>

            </ul>
        </div>
    </div>

<script>

    $(function () {
        var url = window.location.pathname.toString().toLowerCase();
        console.log(url);
        switch (url) {
            case '/user/accountlist': $('[data-id="list-account"]').addClass('active');  break;
            case '/user/addaccount': $('[data-id="add-account"]').addClass('active'); break;
            default: '';
        }
    })
</script>