<div class="col-md-3 col-sm-5 col-xs-12 pull-left">
    <div class="box ">
        <div class="profile height-auto">
            <img src="~/docs/images/profile-bg.jpg" class="profile__img img-responsive" />
            <img src="~/docs/images/user.jpg" class="profile__user img-responsive" />
            <h4 class="profile__name">مهدی حسنی </h4>
            <ul class="profile__menu">

                <li class="profile__menu__item">
                    <a class="active" asp-controller="User" asp-action="AccountList">لیست اکانت های من </a>
                </li>

                <li class="profile__menu__item">
                    <a asp-controller="User" asp-action="AddAccount">اضافه نمودن اکانت جدید </a>
                </li>

                <li class="profile__menu__item">
                    <a href="#">پروفایل من </a>
                </li>

            </ul>
        </div>
    </div>
</div>