
@{
    ViewData["Title"] = "سبد خرید - اکانت پی ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id_get = ViewBag.ig_get;
}
<div class="col-md-12" style="padding:20px;">
    <div class="title">سبد خرید </div>

    <div class="table-responsive margin-top-20">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>نام بازی</th>
                    <th>سطح</th>
                    <th>قیمت</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>پی اس دانلود </td>
                    <td>سطخ بار زی زیی </td>
                    <td class="seperator color-black">10000</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a href="http://bitpay.ir/payment/gateway-@(id_get)" class="btn btn-primary" >پرداخت نهایی</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>