@using AGP.Domain.ViewModel.AccountGame
@using AGP.Domain.Entities
@using AGP.Mvc.Helper
@model AccountGameViewModel
@{
    ViewData["Title"] = "بررسی و خرید اکانت بازی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>عکس : <img src="~/Attachment/@Model.ImageName"/></p>
<p>قیمت محصول : @Model.Price.ToString("#,##")</p>
<p>نام بازی : @Model.GameDisplayName</p>
<p>توضیحات : @Model.Description</p>
<p>سطح : @Model.Level</p>
<p>
    @if (ButtonAndLink.EnableBuyFinal(Model.State, Model.BuyState))
    {
        <button>نهایی کردن خرید</button>

    }
    else
    {
        <button disabled>نهایی کردن خرید</button>
    }
</p>
@if(Model.BuyState== AccountGameBuyState.Buied)
{
    <p>اکانت خریداری شده است</p>
    <p>توسط کی که باید لینک شود</p>
}

