
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gride">

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>


</div>