
@{
    ViewData["Title"] = "پنل مدیریتی - اکانت پی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gride">

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-mail box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">  پیام های خوانده نشده </p>
                    <p class="box-admin__top__description">از این قسمت می توانید پیام های خوانده نشده را مشاهده و بررسی کنید  </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#"> اکانت های در حال بررسی <span class="badge fa-iransansdn">5</span></a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-joy box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a asp-action="Create" asp-controller="Game" asp-area="Admin">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a asp-action="Index" asp-controller="Game" asp-area="Admin">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    
    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت اکانت های در حال انتظار </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a asp-action="Waiting" asp-controller="AccountGame">لیست اکانت های در حال انتظار <span class="badge fa-iransansdn">@(ViewBag.CountWaitingAccount)</span></a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 gride__item pull-left">
        <div class="box box-admin padding-10">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <div class="margin-top-4 margin-right-60">
                    <p class="box-admin__top__title">مدیریت بازی ها </p>
                    <p class="box-admin__top__description">از این قسمت می توانید بازی اضافه کنید </p>
                </div>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>


</div>