
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gride">

    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 gride__item">
        <div class="box box-admin padding-10" style="height:230px;">
            <div class="box-admin__top">
                <span class="pe-7s-helm box-admin__top__icon"></span>
                <b class="box-admin__top__title">مدیریت بازی ها </b>
            </div>
            <ul class="box-admin__menu">
                <li class="box-admin__menu__item"><a href="#">اضافه نمودن بازی </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
                <li class="box-admin__menu__item"><a href="#">لیست بازی ها  </a></li>
            </ul>
        </div>
    </div>



</div>