@using AGP.Domain.ViewModel.Game
@model GameCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>ایجاد نمودن یازی</p>
<form asp-controller="Game" asp-action="Create" asp-area="Admin" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <p>نام(حروف انگلیسی) : <input type="text" asp-for="Name"/></p>
    <p>نام نمایشی(فارسی) : <input type="text" asp-for="DisplayName"/></p>
    <p>عکس های بازی را انتخاب کنید : <input type="file" name="files" multiple/></p>
    <p>توجه کنید که حجم عکس های بازی برای آپلود نباید بیش از @ViewBag.GameIamgeMaxFileSize کیلوبایت باشند</p>
    <input type="submit" value="اضافه نمودن" />
</form>

