@using AGP.Domain.ViewModel.Game
@model GameViewModel
@{
    ViewData["Title"] = "ویرایش نمودن بازی ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var imagesByCount = (List<ImageByCountUseViewModel>)ViewBag.ImagesByCountUse;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">پنل ادمین </a></li>
        <li class="breadcrumb-item active" aria-current="page">مدیریت بازی </li>
        <li class="breadcrumb-item active" aria-current="page"> ویرایش نمودن بازی  </li>
    </ol>
</nav>

<div class="col-md-12">
    <div class="box form-material padding-10">
        <form asp-controller="Game" asp-action="Edit" asp-area="Admin" method="post" enctype="multipart/form-data">

            <div class="title">ویرایش نمودن بازی  </div>

            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div asp-validation-summary="All" class="alert alert-danger"></div>
            }
            @if (TempData["Success"] != null)
            {
                if ((bool)TempData["Success"])
                {
                    <div class="alert alert-success">@(TempData["Message"])</div>
                }
                else
                {
                    <div class="alert alert-warning">@(TempData["Message"])</div>
                }

            }
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="example-email">نام(حروف انگلیسی)</label>
                    <input type="text" required asp-for="Name" class="form-control" placeholder=" نام(حروف انگلیسی) بازی  را وارد کنید">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="example-email">نام نمایشی(فارسی)</label>
                    <input type="text" required asp-for="DisplayName" class="form-control" placeholder=" نام نمایشی(فارسی) بازی را وارد کنید">
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="example-email">عکس های آپلود شده برای این بازی</label>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:33.3%">عکس بازی </th>
                            <th style="width:33.3%">ایا حذف شود ؟؟</th>
                            <th style="width:33.3%">تعداد استفاده شده برای اکانت ها</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Images.Count == 0)
                        {
                            <tr>
                                <td colspan="3" class="text-center text-danger ">عکسی تا کنون آپلود نکرده اید </td>
                            </tr>

                        }
                        else
                        {
                            @foreach (var item in Model.Images)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Attachment/@(item.ImageName)" class="img-thumbnail" style="width:60px;height:60px;" />
                                    </td>
                                    <td>
                                        <input type="checkbox" name="deleteImages" value="@(item.Id)"
                                    </td>
                                    <td class="fa-iransansdn">@imagesByCount.Where(c=>c.ImageName==item.ImageName).Select(c=>c.Count).FirstOrDefault()</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="example-email">عکس های جدید برای بازی انتخاب کنید</label>
                    <input type="file" name="files" multiple />
                </div>
            </div>

            <div class="col-md-12">
                <input type="submit" class="btn  btn-primary pull-left  padding-10" value="ویرایش  نمودن" />
            </div>
        </form>
    </div>
</div>



