@using AGP.Domain.ViewModel.AccountGame
@model AccountGameViewModel
@{
    ViewData["Title"] = "Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>ویرایش نمودن اکانت</p>
<form asp-action="Edit" asp-controller="AccountGame" asp-area="Admin">
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }
    @if (TempData["Success"] != null)
    {
        if ((bool)TempData["Success"])
        {
            <div class="alert alert-success">@(TempData["Message"])</div>
        }
        else
        {
            <div class="alert alert-warning">@(TempData["Message"])</div>
        }

    }
    <input type="hidden" asp-for="Id" />
    <p>سطح : <input type="text" asp-for="Level" required /></p>
    <p>قیمت : <input type="text" asp-for="Price" required /></p>
    <p>توضیحات : <textarea asp-for="Description" required></textarea></p>
    <input type="submit" value="ویرایش" />
</form>
<p>لینک ها</p>
<p><a href="#">تایید</a></p>
<p><a href="#">رد</a></p>

